

<p>
  <strong>Edificio:</strong>
  <%= @departamento.edificio_id %>
</p>

<p>
  <strong>Nombre departamento:</strong>
  <%= @departamento.nombre_departamento %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @departamento.precio %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @departamento.descripcion %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @departamento.estado %>
</p>



<%= link_to glyph(:pencil) + 'Editar', edit_departamento_path(@departamento) , class: "btn btn-warning btn-xs" %> |

<%= link_to glyph(:arrow_left) + ' ATRAS', departamentos_path , class: "btn btn-default btn-xs"%>