<div class="panel panel-primary ">
  <div class="panel-body">
    <%= form_for(@gasto) do |f| %>
        <% if @gasto.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@gasto.errors.count, "error") %> prohibited this gasto from being saved:</h2>
              <ul>
                <% @gasto.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div class="row">
          <div class="form-group col-lg-4">
            <%= f.label :edificio_id %><br>
            <%= f.collection_select(:edificio_id, Edificio.all, :id, :nombre_edificio, {prompt: true}, {class: 'form-control input-sm text-uppercase'}) %>
          </div>

          <div class="form-group col-lg-4">
            <%= f.label :cantidad %><br>
            <%= f.number_field :cantidad, placeholder: 'cantidad', class: "form-control input-sm " %>
          </div>

          <div class="form-group col-lg-4">
            <%= f.label :detalle %><br>
            <%= f.text_field :detalle, placeholder: 'detalle', class: "form-control input-sm" %>
          </div>

          <div class="form-group col-lg-4">
            <%= f.label :costo %><br>
            <%= f.number_field :costo, placeholder: 'costo', class: "form-control input-sm" %>
          </div>
        </div>

        <!-- Datatables
        <div class="field">
          <%= f.label :total %><br>
          <%= f.number_field :total, placeholder: 'total', class: "form-control input-sm" %>
        </div>

        <div class="actions">
          <%= f.submit %>
        </div>
        -->
        <div class="text-left">
          <%= button_tag(type: 'submit', class: "btn btn-info btn-sm") do %>
              CREAR GASTO
          <% end %>
        </div>
    <% end %>
  </div>
</div>