<div class="panel panel-primary ">
  <div class="panel-body">
    <%= form_for(@inquilino) do |f| %>
        <% if @inquilino.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@inquilino.errors.count, "error") %> prohibited this inquilino from being saved:</h2>
              <ul>
                <% @inquilino.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="row">
          <div class="form-group col-lg-4">
            <%= f.label :cédula %><br>
            <%= f.number_field :cedula, placeholder: 'Cédula', class: "form-control input-sm" , required:'' %>
          </div>

          <div class="form-group col-lg-4">
            <%= f.label :nombres %><br>
            <%= f.text_field :nombre, placeholder: 'Nombres ', class: "form-control input-sm" , required:'' %>
          </div>
          <div class="form-group col-lg-4">
            <%= f.label :apellidos %>
            <%= f.text_field :apellido, placeholder: 'Apellidos', class: "form-control input-sm" , required:'' %>
          </div>

          <div class="form-group col-lg-4">
            <%= f.label :teléfono %><br>
            <%= f.number_field :telefono, placeholder: 'Teléfono', class: "form-control input-sm" , required:'' %>
          </div>

          <div class="form-group col-lg-4">
            <%= f.label :email %><br>
            <%= f.text_field :email, placeholder: 'Email', class: "form-control input-sm " , required:'' %>
          </div>
          <div class="form-group col-lg-4">
            <div class="hidden">
              <%= f.label :estado %><br>
              <%= f.check_box :estado, placeholder: 'estado', class: "form-control input-sm " %>
            </div>
          </div>
        </div>

        <div class="text-left">
          <%= button_tag(type: 'submit', class: "btn btn-success btn-block") do %>
              CREAR INQUILINO
          <% end %>
        </div>
    <% end %>
  </div>
</div>