<div class="panel panel-primary text-uppercase">
  <div class="panel-body">
    <%= form_for(@inquilino) do |f| %>
        <% if @inquilino.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@inquilino.errors.count, "error") %> prohibited this inquilino from being saved:</h2>
              <ul>
                <% @inquilino.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div class="field">
          <%= f.label :cedula %><br>
          <%= f.number_field :cedula,placeholder: 'Cedula' ,class: "form-control input-sm "%>
        </div>
        <div class="field">
          <%= f.label :nombre %><br>
          <%= f.text_field :nombre, placeholder: 'Nombres ', class: "form-control input-sm"%>
        </div>
        <div class="field">
          <%= f.label :apellido %><br>
          <%= f.text_field :apellido ,placeholder: 'Apellidos', class: "form-control input-sm"%>
        </div>
        <div class="field">
          <%= f.label :telefono %><br>
          <%= f.number_field :telefono, placeholder: 'Telefono',class: "form-control input-sm"%>
        </div>
        <div class="field">
          <%= f.label :email %><br>
          <%= f.text_field :email, placeholder: 'Email', class: "form-control input-sm "%>
        </div>
        <div class="hidden">
          <%= f.label :estado %><br>
          <%= f.check_box :estado, placeholder: 'Email', class: "form-control input-sm "%>
        </div>
        <br>
        <div class="text-left">
          <%= button_tag(type: 'submit', class: "btn btn-info btn-sm") do %>
              CREAR INQUILINO
          <% end %>
        </div>
    <% end %>
  </div>
</div>