<%= form_for(@mov_caja) do |f| %>
  <% if @mov_caja.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mov_caja.errors.count, "error") %> prohibited this mov_caja from being saved:</h2>

      <ul>
      <% @mov_caja.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :caja_id %><br>
    <%= f.number_field :caja_id %>
  </div>
  <div class="field">
    <%= f.label :concepto %><br>
    <%= f.text_field :concepto %>
  </div>
  <div class="field">
    <%= f.label :ingreso %><br>
    <%= f.number_field :ingreso %>
  </div>
  <div class="field">
    <%= f.label :egreso %><br>
    <%= f.number_field :egreso %>
  </div>
  <div class="field">
    <%= f.label :saldo %><br>
    <%= f.number_field :saldo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
