<!-- <h2>Log in</h2> -->
<center><i class="glyphicon glyphicon-log-in"></i><h1><b>Iniciar sesión</b></h1></center>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  

  <div class="field col-lg-6 col-lg-offset-3">
    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true , class: "form-control" , placeholder: "Ingrese su email" %>
  </div>

  <div class="field col-lg-6 col-lg-offset-3">
    <%= f.label :Contraseña %><br>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" , placeholder: "Ingrese su contraseña" %>
  </div>

  <% if devise_mapping.rememberable?  -%>
    <div class="field col-lg-6 col-lg-offset-3 ">
      <%= f.check_box :remember_me , class:"" %>
    </div>
  <% end -%>

  <div class="actions col-lg-6 col-lg-offset-3">
    <%= f.submit "INGRESAR", class: "btn btn-primary btn-block " %>
  </div>
<% end %>

<br>

<div class="actions col-lg-6 col-lg-offset-3">

<%= render "usuario/shared/links" %>
</div>
</center>
