<%= form_for(@movimiento) do |f| %>
  <% if @movimiento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movimiento.errors.count, "error") %> prohibited this movimiento from being saved:</h2>

      <ul>
      <% @movimiento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contrato_id %><br>
    <%= f.text_field :contrato_id %>
  </div>
  <div class="field">
    <%= f.label :cuota %><br>
    <%= f.number_field :cuota %>
  </div>
  <div class="field">
    <%= f.label :vencimiento %><br>
    <%= f.date_select :vencimiento %>
  </div>
  <div class="field">
    <%= f.label :monto %><br>
    <%= f.number_field :monto %>
  </div>
  <div class="field">
    <%= f.label :estado %><br>
    <%= f.check_box :estado %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
