<p id="notice"><%= notice %></p>

<h1>Listing Movimientos</h1>

<table>
  <thead>
    <tr>
      <th>Contrato</th>
      <th>Cuota</th>
      <th>Vencimiento</th>
      <th>Monto</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movimientos.each do |movimiento| %>
      <tr>
        <td><%= movimiento.contrato_id %></td>
        <td><%= movimiento.cuota %></td>
        <td><%= movimiento.vencimiento %></td>
        <td><%= movimiento.monto %></td>
        <td><%= movimiento.estado %></td>
        <td><%= link_to 'Show', movimiento %></td>
        <td><%= link_to 'Edit', edit_movimiento_path(movimiento) %></td>
        <td><%= link_to 'Destroy', movimiento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movimiento', new_movimiento_path %>
