<%= form_for(@caja) do |f| %>
  <% if @caja.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@caja.errors.count, "error") %> prohibited this caja from being saved:</h2>

      <ul>
      <% @caja.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h1>EDIT</h1>
  <div class="hidden">
    <%= f.label :usuario_id %><br>
    <%= f.number_field :usuario_id %>
  </div>
    <div class="field">
      <%= f.label "fecha apertura" %><br>
      <%= f.datetime_select :created_at , readonly: "true" %>
    </div>

  <div class="field">
    <%= f.label :fecha_cierre %><br>
    <%= f.datetime_select :fecha_cierre ,  readonly: "true"%>
  </div>

  <div class="field">
    <%= f.label :apertura %><br>
    <%= f.number_field :apertura , readonly: "true"%>
  </div>
  <div class="field">
    <%= f.label :cierre %><br>
    <%= f.number_field :cierre , readonly: "true" %>
  </div>
  <div class="field">
    <%= f.label :entrada %><br>
    <%= f.number_field :entrada , readonly: "true"%>
  </div>
  <div class="field">
    <%= f.label :salida %><br>
    <%= f.number_field :salida , readonly: "true"%>
  </div>
  <div class="field">
    <%= f.label :estado %><br>
    <%= f.check_box :estado , readonly: "true"%>
  </div>

      <div class="text-left">
        <%= button_tag(type: 'submit', class: "btn btn-warning btn-sm") do %>
            CERRAR CAJA
        <% end %>
      </div>
    <BR>

<% end %>
